{% extends "base.html" %} 
{% block content %}

    <form action="{% url 'new_post' %}" method="POST">
        {% csrf_token %}
        <label>
            Title:
            <input type="text" name="title" required />
        </label>
        <label>
            Author:
            <input type="text" name="author" required />
        </label>
        <label>
            Post:
            <textarea name="description" cols="30" rows="10" required></textarea>
        </label>
        <button type="submit">New Post</button>
    </form>

{% endblock %}